<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <li><a href="/allcountries"> All Countries</a></li>
    </header>
    <%data.forEach(item=>{%>
        <p>
            Cases :<%=item.cases %>
        </p>
        <p>
            date :<%=item.date %>
        </p>
        <% }) %>

</body>

</html>